<section class="main-offer row">
  <div class="col col-md-3 offer-img d-flex align-items-center justify-content-center">
    <img src="<%= current_offer.image_url %>" alt="<%= current_offer.name %>">
  </div>
  <div class="col col-md-9 offer-details">
    <h2><%= current_offer.name %></h2>
    <div>
      <p class="offer-price"><span class="offer-old-price"><%= current_offer.new_price %> </span>&nbsp;<%= current_offer.old_price %>&nbsp;</p>
      <p class="offer-discount"><i>Oszczędzasz <%= current_offer.discount %>!</i></p><!-- TODO: Move to gfx label -->
    </div>
    <div>
        <p>Pozostało <%= current_offer.left_count %> z <%= current_offer.quantity %> sztuk</p>
      <div class="progress">
        <!-- TODO: MOVE CALCULATION -->
        <div class="progress-bar bg-success" role="progressbar"  style="width: <%= current_offer.left_count*100/current_offer.quantity %>%" aria-valuenow="<%= current_offer.left_count %>" aria-valuemin="0" aria-valuemax="<%= current_offer.quantity %>">
        </div>
      </div>
    </div>
  </div>
</section>

<p class="separator-header">Archiwalne oferty:</p>

<% offers.each do |offer| %>

<section class="archived-offer row">
  <div class="col col-md-3 offer-img d-flex align-items-center justify-content-center">
    <img src="<%= offer.image_url %>?filters=grayscale" alt="<%= offer.name %>">
  </div>
  <div class="col col-md-9 offer-details">
    <h4><%= offer.name %></h2>
    <div>
      <p class="offer-price"><span class="offer-old-price"><%= offer.new_price %> </span>&nbsp;<%= offer.old_price %>&nbsp;</p>
      <p class="offer-discount"><i>Oferta z dnia <%= offer.created_at.strftime("%d-%m-%Y") %></i></p>
    </div>
  </div>
</section>

<% end %>


